*{
  margin:0px;
}

.app{
  height: 100vh;
}

.app__body{
  display: flex;
  background-color:  #f1f2f5;
}


/*    Login css
==========================================================*/

 .fb_picc {
   object-fit: contain;
   height: 250px;
   padding:15px;
 }

 .login > div{
   display: flex;
   flex-direction: column;
 }

.login{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f1f2f5;
}
.login > button{
  width:300px;
  font-weight: 800;
  background-color: rgb(71, 71, 223);
  color:white;
}
.login > button:hover{
  background-color: white;
  color: #2e81f4;
}